<!DOCTYPE html>
<html>
<head>
  <script>
    window.addEventListener('load', Game.start);
  </script>
    <style type="text/css" media="screen">
      body {
        background: black;
        text-align: center;
        color: #DDD;
        font-family: Arial;
      }

      .controls {
        color: #BBB;
      }

      #cr-stage { margin: 20px auto 0; }

      .bottom {
        font-size: 12px;
        color: #888;
        margin-top: 50px;
      }

      bottom a {
        color: #AAA;
      }
    </style>
</head>
<body>
  <h2>Crafty in Cave of Wumpus</h2>

  <p>Help Crafty find the treasure and escape from Wumpus.</p>

  <div id="cr-stage"></div>

  <p class="controls">You're in a cave of a deadly monster, Wumpus, with aim to find hidden treasure. But don't worry you'll feel when there's treasure nearby or deadly danger - Wumpus and lava pits. You don't see the nasty bats coming, though. They bring you to a random place in the cave. Use arrow  keys to move around, find the treasure and exit. Use W, A, S, D to try to shoot Wumpus. But be careful he doesn't like being shot at. If you miss, he'll move elsewhere or even attack you if you're nearby. Remember just escaping with treasure is fine, too. After all you're not the blodthirsty monster here.</p>

  <p class="bottom">Created with Crafty.js and Ruby on Rails. All artwork credit goes to OpenGameArt.org</p>
</body>
</html>
